# testing related
sample/
sample/*
profiling/*

#env vars
env_variables.yaml
.exports
local-test.sh
old_reqs.txt

# backup files
*~
.*~

# local ideas/dev file
.idea
.vscode

# Python pycache:
.python-version
__pycache__/

# Ignored by the build system
/setup.cfg