{% extends 'base.html' %}

{% block content %}
<h1>What is this?</h1>

<p>This is a tool to calculate more optimal targets for Astrologian cards in Final Fantasy XIV. This is broken down into two different searches. The first looking for the optimal target with each window where a card was actually played in the fight ('Card Play' window). The second search looks at possible times between each Draw/Sleeve Draw/Divination where players were doing the most damage during a 15s window ('Card Draw' window).</p>

<p><strong>Important note:</strong> this tool currently only works for 5.3 onwards (after the Sleeve Draw changes) although it can be used for previous patches it will not correctly output every card play around Sleeve Draw windows.</p>

<h2>Does it account for...</h2>

<p>Generally, yes. Specifically it accounts for these commonly asked things:</p>
<ul>
    <li>Includes pet damage</li>
    <li>Excludes ticks from DoTs snapshotted before the card window</li>
    <li>Excludes ticks from DoTs snapshotted after the card window</li>
    <li>Includes ticks from DoTs snapshotted inside the card window, including ticks that happen afterward</li>
    <li>Includes damage from ground effect DoTs (Doton, Salted Earth, Flamethrower, Slipstream, Earthen Fury)</li>
    <li>Excludes the 3%/4%/6%/8% damage buff from the active card</li>
    <li>Accounts for the correct melee/ranged bonus associated with the card</li>
    <li>During a 'Card Play' window any targets who already have an active card at the time of cast are ignored for recommendation as the optimal target</li>
    <li>While searching for optimal cards during a 'Card Draw' window all damage from card buffs is ignored</li>
</ul>

<h2>How it works</h2>

<p>This is the methodology used by the script for each 'Card Play' window</p>
<ol>
    <li>Get all of the non-tick, direct damage inside the card window (typically 15s) for each player</li>
    <li>Find the start of all tick application or reapplication events that occur during the card window and then sum the associated damage events (even if those occur outside of the card window)</li>
    <li>Take out the appropriate bonus to the player that actually received the card based on what card was played and the job of the receiving player</li>
</ol>

<p>After doing all of that, the result is a fairly accurate representation of the <strong>total amount of damage that would have been buffed by the card</strong>, if that player were its target at the time it was originally played.</p>

<p>Separately for each 'Card Draw' window the script uses the following methodology:</p>
<ol>
    <li>Get all of the non-tick, direct damage inside the card window (typically 15s) for each player</li>
    <li>For every tick application or reapplication the damage events associated with that event are summed up and listed as a new damage event at the application time with a total amount associated with the summed damage value</li>
    <li>The damage bonus associated with every card played throughout the fight is removed</li>
    <li>Starting at the time of the initial event:</li>
        <ul>
            <li>The damage for each player is summed up as if a card was played at this time lasting for 15s</li>
            <li>The starting time is incremented in 1s time steps while checking that it is still before the time of final event for the window</li>
            <li>The ranged and melee results are checked separately and reported in different tabs.</li>
            <li>A number of maximal damage values are selected from this collection based on the size of the window</li>
            <table style="width:40%">
                <tr>
                    <th>Duration</th>
                    <th>Count Reported</th>
                </tr>
                <tr>
                    <td>0s - 4s</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>4s - 10s</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>10s - 20s</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>20s+</td>
                    <td>8</td>
                </tr>
            </table>
            <li>The same character will not be listed again within 4s of a previously listed damage window with higher total damage</li>
        </ul>
</ol>

<p>This output should help to accurately predict where it might have been possible to play a card on a player while they are doing the maximum amount. However, it does have some limitations discussed below</p>

<h2>Current limitations</h2>
<p>Some notes on the current analysis with regards to the optimal target for each 'Card Play' window:</p>
<ul>
    <li>Cards overwriting other cards isn't looked for explicitly but instead just results in shortened card play windows</li>
    <li>The optimal target is based on the role (melee or ranged) of the card you played and there is no consideration at whether you should have tried to Redraw for a card of the opposite type</li>
    <li>If multiple cards are active at the same time players that have active cards already are ignored during the later card plays without checking if an alternative play order would have been more optimal</li>
</ul>

<p>While searching for the maximum damage output possible to cover with a card play during each potential 'Card Draw' window the following considerations are not taken into account:</p>
<ul>
    <li>There is no check for whether you could have held a card past a Divination cast thus you need to separately check the window following Divination to examine for possible card targets there</li>
    <li>Within each draw window there is no consideration for what card you have drawn, what seals you have or need, whether it would be reasonable to redraw for a different role or seal</li>
    <li>No consideration is given to your GCD, weave slots, or potential healing when calculating the initial time for playing cards so it is possible that it would be unreasonable to play a card a specified time</li>
    <li>The search is performed in 1s increments so it is possible that two damage instances which are nearly 15s apart will never end up considered together despite there being a possible card which would cover these. Thus it's possible that the reported play time for maximum damage is incorrect and could be higher if the playtime was shifted by less than a second in either direction</li>
</ul>

<h2>Who made this?</h2>

<p>This projected was adapted from the tethercalc project made by Platinum Xephera on the Ultros server who graciously let me use their code as a starting point. It's currently managed by Marielle Kaidafaux on Adamantoise. I made it because I wanted a tool to examine optimal targets for cards while playing Astrologian. I hope the {{ report_count }} analyzed reports have been useful.</p>
<p>If you notice any issues, feel free to DM me through Discord (Melody ♫#3761), or open issues and pull requests on the <a href="https://github.com/meldontaragon/astcardcalc">GitHub repo</a> for this site.</p>

<h2>Changes</h2>
<p>2021-03-20: Added detailed information tab which contains information about remaining card duration as well as a breakdown of the critical and direct hit rate as well as the percentage of damage from DoTs. This was implemented in git commit <a href="https://github.com/meldontaragon/astcardcalc/commit/2b7ed07c52081d15744e1ba0e5db94c006361c20">2b7ed07</a></p>
<p>2021-02-25: Fixed issues where card bonuses were being removed twice in certain cases, cases where future cards bonuses weren't handled correctly, and cases where damage event occurring at the same time as buff events would result in improper handling of the card bonus. These were fixed in git commit <a href="https://github.com/meldontaragon/astcardcalc/commit/45ff176671c901971bbe1a8bb77391c275c18b22">45ff176</a> and <a href="https://github.com/meldontaragon/astcardcalc/commit/fcfbc3393586678c02439a501d153b317eb164fc">fcfbc33</a></p>
<p>2021-02-25: Fixed an issue where if the same card was refreshed on someone before it expired the second play was ignored. This was fixed in git commit <a href="https://github.com/meldontaragon/astcardcalc/commit/19c80cae881ee3d4dbb84603462f03445d9fe6c3">19c80ca
</a></p>
<p>2021-02-25: Fixed an issue where play casts with no corresponding buff event would cause the analysis to crash. This was fixed in git commit <a href="https://github.com/meldontaragon/astcardcalc/commit/2da67010878ce776994a137c762c558854b95356">2da6701</a></p>
<p>2021-02-24: Fixed an issue where card play buff windows could be at the same time or after the next draw event which would result in the card play being ignored or potentially overwriting the next card play. This was fixed in git commit <a href="https://github.com/meldontaragon/astcardcalc/commit/e4749543e35b250a0e045dae8c50388884c327c9">e474954</a>.</p>
<p>2021-01-26: Added 'Card Draw' windows for studying better times to play cards given the times when Draw/Sleeve Draw/Divination was used. This was added in git commit <a href="https://github.com/meldontaragon/astcardcalc/commit/243713a227098c223c73a6e53327db039f97fa1b">243713a</a>.</p>
<p>2021-01-15: Fixed pet tick damage (such as SMN Ifrit Enkindle DoT) not being correctly included in the damage total for that player. Fixed in git commit <a href="https://github.com/meldontaragon/astcardcalc/commit/1eafff25d498ff95ad170294967a1b98c32ef90d">1eafff2</a>.</p> 
{% endblock %}
